<mtapp:setting
    id="enable"
    label="Enable"
    hint=""
    show_hint="0">
    <input type="checkbox" name="enable" id="enable" value="1"<mt:if name='enable'> checked="checked"</mt:if> />
    <input type="hidden" name="enable" value="0" />
</mtapp:setting>